<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Dark grey color for the depth camera plastic material -->
  <material name="CameraMesh.003">
    <color rgba="0.02745 0.02745 0.02745 1.00000"/>
  </material>
  
  <!-- Darker black color for the landing drone parts -->
  <material name="LandingRubber">
    <color rgba="0.00392 0.00392 0.00392 1.00000"/>
  </material>
  
  <!-- Light grey color for the joint of 360 camera -->
  <material name="Metal">
    <color rgba="0.31765 0.31765 0.31765 1.00000"/>
  </material>
  
  <!-- Light yellow color for the drone body -->
  <material name="RailsAntennaHolder">
    <color rgba="0.95294 0.95294 0.00000 1.00000"/>
  </material>
  
  <!-- Dark grey color for the drone propellers -->
  <material name="green_metal">
    <color rgba="0.26667 0.02745 0.38824 1.00000"/>
  </material>

  <!-- Dark grey color for the camera 360 holder -->
  <material name="RailsRubber">
    <color rgba="0.10048 0.10048 0.10048 1.00000"/>
  </material>

</robot>