<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <!-- IMU Sensor Plugin -->
  <gazebo reference="base_link">
    <plugin name="imu_plugin" filename="libgazebo_ros_imu.so">
      <robotNamespace>/drone</robotNamespace>
      <linkName>base_link</linkName>
      <sensorName>imu_sensor</sensorName>
      <updateRate>100</updateRate>
      <gaussianNoise>0.0</gaussianNoise>
      <topicName>/imu</topicName>
    </plugin>
  </gazebo>

  <!-- GPS Sensor Plugin -->
  <gazebo reference="base_link">
    <plugin name="gps_plugin" filename="libgazebo_ros_gps.so">
      <robotNamespace>/drone</robotNamespace>
      <updateRate>10</updateRate>
      <bodyName>base_link</bodyName>
      <topicName>/gps/fix</topicName>
      <velocityTopicName>/gps/vel</velocityTopicName>
      <drift>5.0 5.0 5.0</drift>
      <gaussianNoise>0.1 0.1 0.1</gaussianNoise>
    </plugin>
  </gazebo>

</robot>