<?xml version="1.0" ?>
<model>
    <name>drone_model</name>
    <version>1.0</version>
    <sdf version="1.9">model.sdf</sdf>
    <author>
        <name>Ivan Dario Orozco Ibañez</name>
        <email>ivan@example.com</email>
    </author>
    <description>
        ModelModel of the NXP HoverGames Drone development kit (KIT-HGDRONEK66). This model is used for simulation purposes.
    </description>
</model>