<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- IMU sensor -->
  <gazebo reference="base_link">
    <sensor name="imu_sensor" type="imu">
      <topic>imu</topic>
      <imu>
        <linear_acceleration>
          <x>
            <noise type="gaussian">
              <mean>0</mean>
              <stddev>0.1</stddev>
              <dynamic_bias_stddev>0.2</dynamic_bias_stddev>
              <dynamic_bias_correlation_time>1</dynamic_bias_correlation_time>
            </noise>
          </x>
          <y>
            <noise type="gaussian">
              <mean>1</mean>
              <stddev>1.1</stddev>
              <dynamic_bias_stddev>1.2</dynamic_bias_stddev>
              <dynamic_bias_correlation_time>2</dynamic_bias_correlation_time>
            </noise>
          </y>
          <z>
            <noise type="gaussian">
              <mean>2</mean>
              <stddev>2.1</stddev>
              <dynamic_bias_stddev>2.2</dynamic_bias_stddev>
              <dynamic_bias_correlation_time>3</dynamic_bias_correlation_time>
            </noise>
          </z>
        </linear_acceleration>
        <angular_velocity>
          <x>
            <noise type="gaussian">
              <mean>3</mean>
              <stddev>3.1</stddev>
              <dynamic_bias_stddev>4.2</dynamic_bias_stddev>
              <dynamic_bias_correlation_time>4</dynamic_bias_correlation_time>
            </noise>
          </x>
          <y>
            <noise type="gaussian">
              <mean>4</mean>
              <stddev>4.1</stddev>
              <dynamic_bias_stddev>5.2</dynamic_bias_stddev>
              <dynamic_bias_correlation_time>5</dynamic_bias_correlation_time>
            </noise>
          </y>
          <z>
            <noise type="gaussian">
              <mean>5</mean>
              <stddev>5.1</stddev>
              <dynamic_bias_stddev>6.2</dynamic_bias_stddev>
              <dynamic_bias_correlation_time>6</dynamic_bias_correlation_time>
            </noise>
          </z>
        </angular_velocity>
      </imu>
    </sensor>
  </gazebo>

</robot>