<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <gazebo>
    <plugin filename="libdrone_gazebo_plugins" name="gz::sim::system::ChannelPlugin">
      <propellers_velocity>propellers_velocity_topic</propellers_velocity>
      <camera_360_velocity>camera_360_velocity_topic</camera_360_velocity>
    </plugin>
  </gazebo>
</robot>